force-app/main/default/flows/Agent_Triage_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Case_Status_Escalate_Path</name>
        <label>Update Case Status (Escalate Path)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Details.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Details.Agent_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agent_Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Status_Request_Info_Path</name>
        <label>Update Case Status (Request Info Path)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Details.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Customer Response</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Details.Agent_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agent_Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Status_Resolve_Path</name>
        <label>Update Case Status (Resolve Path)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Details.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>escalate_tier2</name>
        <choiceText>Escalate to Tier 2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Escalate to Tier 2</stringValue>
        </value>
    </choices>
    <choices>
        <name>request_info</name>
        <choiceText>Request Customer Information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Request Customer Information</stringValue>
        </value>
    </choices>
    <choices>
        <name>resolve_immediately</name>
        <choiceText>Resolve Immediately</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Resolve Immediately</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Route_Based_on_Selection</name>
        <label>Route Based on Selection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ResolveImmediately</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>resolve_immediately</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status_Resolve_Path</targetReference>
            </connector>
            <label>Resolve Immediately</label>
        </rules>
        <rules>
            <name>Escalate_to_Tier_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>escalate_tier2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status_Escalate_Path</targetReference>
            </connector>
            <label>Escalate to Tier 2</label>
        </rules>
        <rules>
            <name>Request_Information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>request_info</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status_Request_Info_Path</targetReference>
            </connector>
            <label>Request Information</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Agent Triage Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agent Triage Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Details</name>
        <label>Get Case Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Case_Details</inputReference>
    </recordUpdates>
    <screens>
        <name>Case_Review</name>
        <label>Case Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Route_Based_on_Selection</targetReference>
        </connector>
        <fields>
            <name>CaseDetails</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Subject&lt;/strong&gt; - {!Get_Case_Details.Subject}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Priority&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; - {!Get_Case_Details.Priority}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Description&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; - {!Get_Case_Details.Description}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>actionSelection</name>
            <choiceReferences>resolve_immediately</choiceReferences>
            <choiceReferences>escalate_tier2</choiceReferences>
            <choiceReferences>request_info</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Agent_Notes</name>
            <defaultValue>
                <stringValue>{!Get_Case_Details.Agent_Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Agent Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
