force-app/main/default/flows/Create_Follow_up_Tasks_for_InActive_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_the_Prepared_Task_to_Task_List</name>
        <label>Add the Prepared Task to Task List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTaskRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Task_Record</name>
        <label>Prepare Task Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTaskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Iterate_over_account.Name} Account is InActive Please check this</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Iterate_over_account.Name} Account is InActive Please check this if we need to work on this account or Not</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmTodayPlusThree</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_the_Prepared_Task_to_Task_List</targetReference>
        </connector>
    </assignments>
    <description>1. Prepare the Task Record
2. Add the prepared Task Records into List
3. Insert those Task Record List</description>
    <environments>Default</environments>
    <formulas>
        <name>fmTodayPlusThree</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 3</expression>
    </formulas>
    <interviewLabel>Create Follow-up Tasks for InActive Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Follow-up Tasks for InActive Accounts</label>
    <loops>
        <name>Iterate_over_account</name>
        <label>Iterate over account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_InActive_Account_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Prepare_Task_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Task_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_Record</name>
        <label>Create Task Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Prepare_the_Task_record_for_DML</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_InActive_Account_Records</name>
        <label>Get InActive Account Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prepare_the_Task_record_for_DML</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>200.0</numberValue>
        </limit>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_InActive_Account_Records</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2025-07-17</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <transforms>
        <name>Prepare_the_Task_record_for_DML</name>
        <label>Prepare the Task record for DML</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Iterate_over_account</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Task</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>WhatId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_InActive_Account_Records[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Status</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>&quot;Not Started&quot;</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Priority</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>&quot;High&quot;</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ActivityDate</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Date</formulaDataType>
                    <formulaExpression>TODAY() + 3</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Description</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>{!Get_InActive_Account_Records[$EachItem].Name} + &quot; is Inactive please take the necessary action&quot;</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Subject</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>{!Get_InActive_Account_Records[$EachItem].Name} + &quot; is Inactive please take the necessary action&quot;</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OwnerId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_InActive_Account_Records[$EachItem].OwnerId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>varTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varTaskRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
