force-app/main/default/flows/Customer_Follow_up_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>contact_customer</name>
        <choiceText>Contact Customer Directly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact Customer Directly</stringValue>
        </value>
    </choices>
    <choices>
        <name>escalate_manager</name>
        <choiceText>Escalate to Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Escalate to Manager</stringValue>
        </value>
    </choices>
    <choices>
        <name>schedule_callback</name>
        <choiceText>Schedule Follow-up Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Schedule Follow-up Call</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Follow_up_Type</name>
        <label>Follow-up Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Follow_up_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>contact_customer</elementReference>
                </rightValue>
            </conditions>
            <label>Contact Customer</label>
        </rules>
        <rules>
            <name>Escalate_to_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Follow_up_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>escalate_manager</elementReference>
                </rightValue>
            </conditions>
            <label>Escalate to Manager</label>
        </rules>
        <rules>
            <name>ScheduleCallback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Follow_up_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>schedule_callback</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Follow_up_Task</targetReference>
            </connector>
            <label>Schedule Callback</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Customer_Follow_up_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Follow up Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Follow_up_Task</name>
        <label>Create Follow-up Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Follow_up_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Follow_up_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Customer Satisfaction Follow-up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Details</name>
        <label>Get Case Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Follow_up_Action_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Follow_up_Action_Screen</name>
        <label>Follow-up Action Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Follow_up_Type</targetReference>
        </connector>
        <fields>
            <name>dtCaseInformation</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Customer Satisfaction Follow-up for Case: &lt;/strong&gt;{!Get_Case_Details.CaseNumber}&lt;/li&gt;&lt;li&gt;Customer provided low satisfaction rating&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Follow_up_Action</name>
            <choiceReferences>contact_customer</choiceReferences>
            <choiceReferences>escalate_manager</choiceReferences>
            <choiceReferences>schedule_callback</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Follow-up Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Follow_up_Notes</name>
            <fieldText>Follow-up Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Follow_up_Date</name>
            <dataType>Date</dataType>
            <fieldText>Follow-up Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Follow_up_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>schedule_callback</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
