force-app/main/default/flows/Opportunity_Discount_Calculator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Calculate_Enterprise_Discount</name>
        <label>Calculate Enterprise Discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DiscountPercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmEnterPriseDiscount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDiscountAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmEnterpriseDiscountAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmFinalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmEnterpriseApprovalRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessingMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmEnterpriseProcessingMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Stage_Restrictions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_mid_market_discounts</name>
        <label>Calculate mid-market discounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DiscountPercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmMidLevelCustomerDiscount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessingMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmMidProcessingMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmMidApprovalRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDiscountAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmMidDiscountAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmFinalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Stage_Restrictions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_SMB_Discount</name>
        <label>Calculate SMB Discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DiscountPercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmSMBDiscount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessingMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmSMBProcessingMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmSMBApprovalRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDiscountAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmSMBDiscountAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmFinalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Stage_Restrictions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Variables</name>
        <label>Initialize Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDiscountAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DiscountPercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessingMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processing discount calculation...</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Inputs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Remove discount if stage doesn&apos;t allow it</description>
        <name>Reset_Discount_for_Stage</name>
        <label>Reset Discount for Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DiscountPercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDiscountAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessingMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No discount allowed for stage: {!Get_Records_Get_Opportunity.StageName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Error</name>
        <label>Set Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid inputs: OpportunityId and Amount are required, Amount must be &gt; 0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessingMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discount calculation failed due to invalid inputs</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Record_Not_Found_Error</name>
        <label>Set Record Not Found Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity not found with ID:  {!varOpportunityId}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessingMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unable to locate opportunity record</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Record_Found</name>
        <label>Check Record Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Record_Not_Found_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Not Found</defaultConnectorLabel>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_Get_Opportunity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Customer_Tier</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify opportunity stage allows discounts</description>
        <name>Check_Stage_Restrictions</name>
        <label>Check Stage Restrictions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Reset_Discount_for_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Stage Restricts Discount</defaultConnectorLabel>
        <rules>
            <name>Stage_Allows_Discount</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Records_Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Needs Analysis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Records_Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal/Price Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Records_Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation/Review</stringValue>
                </rightValue>
            </conditions>
            <label>Stage Allows Discount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Customer_Tier</name>
        <label>Determine Customer Tier</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Calculate_SMB_Discount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SMB Customer</defaultConnectorLabel>
        <rules>
            <name>Enterprise_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_Get_Opportunity.Account.AnnualRevenue</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Records_Get_Opportunity.Account.NumberOfEmployees</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Records_Get_Opportunity.Account.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer - Enterprise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Enterprise_Discount</targetReference>
            </connector>
            <label>Enterprise Customer</label>
        </rules>
        <rules>
            <name>Mid_Market_Customer</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_Get_Opportunity.Account.AnnualRevenue</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Records_Get_Opportunity.Account.AnnualRevenue</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Records_Get_Opportunity.Account.NumberOfEmployees</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Records_Get_Opportunity.Account.NumberOfEmployees</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_mid_market_discounts</targetReference>
            </connector>
            <label>Mid-Market Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Inputs</name>
        <label>Validate Inputs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Inputs</defaultConnectorLabel>
        <rules>
            <name>Valid_Inputs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCalculateDiscount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_Get_Opportunity</targetReference>
            </connector>
            <label>Valid Inputs</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fmEnterpriseApprovalRequired</name>
        <dataType>Boolean</dataType>
        <expression>{!DiscountPercentage} &gt;= 15</expression>
    </formulas>
    <formulas>
        <name>fmEnterPriseDiscount</name>
        <dataType>Number</dataType>
        <expression>IF(
    {!varAmount} &gt;= 500000, 20,
    IF(
      {!varAmount} &gt;= 250000, 15,
      IF(
        {!varAmount} &gt;= 100000, 12,
        8
      )
    )
  )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fmEnterpriseDiscountAmount</name>
        <dataType>Currency</dataType>
        <expression>{!varAmount} * ({!DiscountPercentage} / 100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fmEnterpriseProcessingMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Enterprise discount applied: &quot; + TEXT({!DiscountPercentage}) + &quot;%&quot;</expression>
    </formulas>
    <formulas>
        <name>fmFinalAmount</name>
        <dataType>Number</dataType>
        <expression>{!varAmount} - {!varDiscountAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fmMidApprovalRequired</name>
        <dataType>Boolean</dataType>
        <expression>{!DiscountPercentage} &gt;= 10</expression>
    </formulas>
    <formulas>
        <name>fmMidDiscountAmount</name>
        <dataType>Currency</dataType>
        <expression>{!varAmount} * ({!DiscountPercentage} / 100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fmMidLevelCustomerDiscount</name>
        <dataType>Number</dataType>
        <expression>IF(
    {!varAmount} &gt;= 200000, 12,
    IF(
      {!varAmount} &gt;= 100000, 10,
      IF(
       {!varAmount}&gt;= 50000, 8,
        5
      )
    )
  )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fmMidProcessingMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Mid-market discount applied: &quot; + TEXT({!DiscountPercentage}) + &quot;%&quot;</expression>
    </formulas>
    <formulas>
        <name>fmSMBApprovalRequired</name>
        <dataType>Boolean</dataType>
        <expression>{!DiscountPercentage} &gt;= 8</expression>
    </formulas>
    <formulas>
        <name>fmSMBDiscount</name>
        <dataType>Number</dataType>
        <expression>IF(
    {!varAmount} &gt;= 50000, 8,
    IF(
     {!varAmount} &gt;= 25000, 6,
      IF(
     {!varAmount} &gt;= 10000, 4,
        2
      )
    )
  )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fmSMBDiscountAmount</name>
        <dataType>Currency</dataType>
        <expression>{!varAmount} * ({!DiscountPercentage} / 100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fmSMBProcessingMessage</name>
        <dataType>String</dataType>
        <expression>&quot;SMB discount applied: &quot; + TEXT({!DiscountPercentage}) + &quot;%&quot;</expression>
    </formulas>
    <interviewLabel>Opportunity_Discount_Calculator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Discount Calculator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Records_Get_Opportunity</name>
        <label>Get Records - Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initialize_Variables</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApprovalRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DiscountPercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ProcessingMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varCalculateDiscount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCustomerTier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDiscountAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSalesRep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
