force-app/main/default/flows/Submit_for_Proposal_Speaker_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Speaker_Submission_Alert</name>
        <label>Speaker Submission Alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Speaker_Submission__c.Speaker_Submission_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_Records_Create_Speaker_Submission_Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Speaker_Submission__c.Speaker_Submission_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Error_Screen_to_Active_Stages</name>
        <label>Add Error Screen to Active Stages</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Submission_Error</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>FeMale</name>
        <choiceText>FeMale</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FeMale</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;path&quot;}</stringValue>
        </value>
    </customProperties>
    <dynamicChoiceSets>
        <name>ch_AudienceLevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Audience_Level__c</picklistField>
        <picklistObject>Speaker_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ch_SessionCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Session_Category__c</picklistField>
        <picklistObject>Speaker_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ch_SessionDurationOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Session_Duration__c</picklistField>
        <picklistObject>Speaker_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ch_SessionTypeOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Session_Type__c</picklistField>
        <picklistObject>Speaker_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Submit for Proposal - Speaker Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit for Proposal - Speaker Submission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Records_Create_Speaker_Submission_Record</name>
        <label>Create Records: Create Speaker Submission Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Speaker_Submission_Alert</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_Error_Screen_to_Active_Stages</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Additional_Details__c</field>
            <value>
                <elementReference>Additional_Details_Speaker</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audience_Level__c</field>
            <value>
                <elementReference>Audience_level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Abstract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Full_Name__c</field>
            <value>
                <elementReference>Full_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Linkedin_Url__c</field>
            <value>
                <elementReference>LinkedInUrl.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session_Category__c</field>
            <value>
                <elementReference>Session_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session_Duration__c</field>
            <value>
                <elementReference>Session_Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session_Title__c</field>
            <value>
                <elementReference>Session_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session_Type__c</field>
            <value>
                <elementReference>Session_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Speaker_Bio__c</field>
            <value>
                <elementReference>About_Speaker</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Twitter_Url__c</field>
            <value>
                <elementReference>TwitterUrl.value</elementReference>
            </value>
        </inputAssignments>
        <object>Speaker_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>cs_ErrorScreen</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Error while submitting the entry!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>rgb(255, 0, 0)</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 2, 2);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Submission_Error</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>SessionDetailScreen</name>
        <label>Session Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Records_Create_Speaker_Submission_Record</targetReference>
        </connector>
        <fields>
            <name>SessionDetails</name>
            <fieldText>Session Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SessionDetails_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Session_Title</name>
                    <dataType>String</dataType>
                    <fieldText>Session Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Session_Type</name>
                    <choiceReferences>ch_SessionTypeOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Session Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Session_Category</name>
                    <choiceReferences>ch_SessionCategory</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Session Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SessionDetails_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Abstract</name>
                    <fieldText>Abstract</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Session abstract can not be more than 2500 characters &lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN( {!Abstract}  ) &lt;= 2500</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Session_Duration</name>
                    <choiceReferences>ch_SessionDurationOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Session Duration</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Audience_level</name>
                    <choiceReferences>ch_AudienceLevel</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Audience Level</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Session_Details</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Speaker_Details_Screen</name>
        <label>Speaker Details Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SessionDetailScreen</targetReference>
        </connector>
        <fields>
            <name>SpeakerDetails</name>
            <fieldText>Speaker Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SpeakerDetails_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Full_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Full Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>About_Speaker</name>
                    <fieldText>About Speaker</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Only 1000 characters are allowed&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!About_Speaker}) &lt;= 1000</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>TwitterUrl</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Twitter URL</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SpeakerDetails_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Gender</name>
                    <choiceReferences>Male</choiceReferences>
                    <choiceReferences>FeMale</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Gender</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>LinkedInUrl</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Linkedin URL</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Additional_Details_Speaker</name>
            <fieldText>Additional Details (Speaker )</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Only 1000 characters are allowed&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN( {!Additional_Details_Speaker}  ) &lt;=1000</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Speaker_Details</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>cs_SuccessScreen</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Thank You for your Submission. You will receive the updates about your submission via email.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>rgb(0, 255, 0)</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Submission_Success</elementReference>
        </stageReference>
    </screens>
    <stages>
        <name>Session_Details</name>
        <isActive>true</isActive>
        <label>Session Details</label>
        <stageOrder>200</stageOrder>
    </stages>
    <stages>
        <name>Speaker_Details</name>
        <isActive>true</isActive>
        <label>Speaker Details</label>
        <stageOrder>100</stageOrder>
    </stages>
    <stages>
        <name>Submission_Error</name>
        <isActive>false</isActive>
        <label>Submission Error</label>
        <stageOrder>17000</stageOrder>
    </stages>
    <stages>
        <name>Submission_Success</name>
        <isActive>false</isActive>
        <label>Submission Success</label>
        <stageOrder>300</stageOrder>
    </stages>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Speaker_Details_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
