force-app/main/default/flows/Tier2_Agent_Assignment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Availability</name>
        <label>Check Availability</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Find_General_Tier_2_Agent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Use General Tier 2 Agent</defaultConnectorLabel>
        <rules>
            <name>Specialized_Agent_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Specialized_Tier_2_Agent.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Specialized_Agent</targetReference>
            </connector>
            <label>Specialized Agent Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_General_Agent_Availability</name>
        <label>Check General Agent Availability</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>General_Agent_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_General_Tier_2_Agent.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_General_Agent</targetReference>
            </connector>
            <label>General Agent Available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Tier2 Agent Assignment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tier2 Agent Assignment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_General_Tier_2_Agent</name>
        <label>Find General Tier 2 Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_General_Agent_Availability</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tier_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tier 2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Specialized_Tier_2_Agent</name>
        <label>Find Specialized Tier 2 Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Availability</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Specialization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tier_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tier 2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_General_Agent</name>
        <label>Assign General Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_General_Tier_2_Agent.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tier_2_Agent__c</field>
            <value>
                <elementReference>Find_General_Tier_2_Agent.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Specialized_Agent</name>
        <label>Assign Specialized Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Specialized_Tier_2_Agent.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tier_2_Agent__c</field>
            <value>
                <elementReference>Find_Specialized_Tier_2_Agent.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Specialized_Tier_2_Agent</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
