force-app/main/default/flows/Tier_2_Resolution_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>escalate_development</name>
        <choiceText>Escalate to Development Team</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Escalate to Development Team</stringValue>
        </value>
    </choices>
    <choices>
        <name>resolve_case</name>
        <choiceText>Resolve Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Resolve Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>return_tier1</name>
        <choiceText>Return to Tier 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Return to Tier 1</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Resolution_Path</name>
        <label>Resolution Path</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ResolveCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResolutionAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>resolve_case</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolve_Case_Status</targetReference>
            </connector>
            <label>Resolve Case</label>
        </rules>
        <rules>
            <name>Escalate_to_Development</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResolutionAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>escalate_development</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Escalate_to_Development</targetReference>
            </connector>
            <label>Escalate to Development</label>
        </rules>
        <rules>
            <name>Return_to_Tier_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResolutionAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>return_tier1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Route_to_Tier_1</targetReference>
            </connector>
            <label>Return to Tier 1</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>resolutionCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Resolution_Category__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Tier 2 Resolution Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tier 2 Resolution Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Details</name>
        <label>Get Case Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Advanced_Resolution</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Case_Escalate_to_Development</name>
        <label>Case - Escalate to Development</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agent_Notes__c</field>
            <value>
                <elementReference>Technical_Resolution_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Escalated to Development</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Case_Route_to_Tier_1</name>
        <label>Case - Route to Tier 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agent_Notes__c</field>
            <value>
                <elementReference>Technical_Resolution_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Return to Tier 1</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Resolve_Case_Status</name>
        <label>Resolve Case - Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agent_Notes__c</field>
            <value>
                <elementReference>Technical_Resolution_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution_Category__c</field>
            <value>
                <elementReference>Resolution_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Advanced_Resolution</name>
        <label>Advanced Resolution</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Resolution_Path</targetReference>
        </connector>
        <fields>
            <name>dtCaseInformation</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Escalated Case: &lt;/strong&gt;{!Get_Case_Details.CaseNumber}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Escalation Reason: &lt;/strong&gt;{!Get_Case_Details.Escalation_Reason__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Previous Agent Notes: &lt;/strong&gt;{!Get_Case_Details.Agent_Notes__c}&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ResolutionAction</name>
            <choiceReferences>resolve_case</choiceReferences>
            <choiceReferences>escalate_development</choiceReferences>
            <choiceReferences>return_tier1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resolution Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Technical_Resolution_Notes</name>
            <fieldText>Technical Resolution Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Resolution_Category</name>
            <choiceReferences>resolutionCategory</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resolution Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
